!!!
%html
  %head
    %title Bookshelf
    = favicon
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    = stylesheet 'bootstrap-4.0.0-alpha.6/dist/css/bootstrap.min'
  %body
    = render partial: 'navigation/navbar'
    .container.pt-1{role: "main"}
      = yield
    = javascript "jquery-3.2.1.min.js", "tether.min.js"
    = javascript 'bootstrap-4.0.0-alpha.6/dist/js/bootstrap.min'
